body {
  background-color: green;
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  height: 400px;
  width: 250px;
  padding: 20px;
  border: 1px solid black;
  border-radius: 5px;
  position: relative;
}

.card::before {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 80px;
}

.card::after {
  position: absolute;
  bottom: 20px;
  right: 20px;
  font-size: 80px;
  transform: rotate(180deg);
}

.number-position {
  font-size: 100px;
}

.card.trebol::before,
.card.trebol::after {
  content: "♣";
}

.card.heart::before,
.card.heart::after {
  content: "♥";
}

.card.pica::before,
.card.pica::after {
  content: "♠";
}

.card.diamond::before,
.card.diamond::after {
  content: "♦";
}

.card.diamond,
.card.heart {
  color: red;
}
